body {
  width: 95%;
  max-width: 800px;
  margin: auto;
  background: url('https://paulasanches.github.io/This-is-me/pages/images/background.jpg') center;
  font-family: 'Lato';
  line-height: 1.5;
  color: white;
}

.header-container {
  height: 100vh;
  width: 100vw;
  background-color: 
